& {
  max-width: 50rem;
  height: 82rem;
  margin: 0 auto;

  .rating-sort {
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: justify;
    margin-bottom: 2em;
  }

  .rating-sort h3 {
    color: #e91c50;
    margin: 0.5em;
  }
}
