& {
  max-width: 50rem;
  height: 82rem;
  margin: 0 auto;

  .rating-sort {
    display: flex;
    justify-content: justify;
    align-items: center;
  }

  h2,
  .rating-sort h3 {
    color: #e91c50;
    margin-right: 0.5em;
  }
}
