& {
  .details > h2 {
    color: #e91c50;
  }

  form {
    label {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      margin: 0.5em 0;
      color: #e91c50;
      font-size: 1.2em;
    }

    input {
      border: 0.2rem solid #cccccc;
      border-radius: 0.5rem;
    }
  }
}
