<li class={{this.styleNamespace}}>
  <div class='details'>
    <h2>
      {{this.movie.title}}
    </h2>

    <p>
      {{this.movie.description}}
    </p>

    {{#if this.movie.rating}}
      <p>Rating: {{this.movie.rating}}</p>
    {{/if}}

    <button type='button'>Edit</button>
    <button type='button'>Delete</button>
  </div>
</li>