<ul class={{this.styleNamespace}}>
  {{#if @movies}}
    {{#each @movies as |movie|}}
      <MovieList::MovieListItem @movie={{movie}} @loadMovies={{@loadMovies}} />

      <hr />
    {{/each}}
  {{else}}
    <h2>Oops! There are currently no movies. Please add one.</h2>
  {{/if}}
</ul>